@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<span class="mx-2 font-weight-bold">Mehsullar</span> <a asp-action="create" class="btn btn-outline-success">Yeni mehsul yarat</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Mehsulun adi</th>
            <th>Mehsulun qiymeti</th>
            <th>Mehsulun kateqoriyasi</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Price.ToString("0.00")</td>
                <td>@item.CategoryId</td>
                <td>
                    <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-outline-danger confirm" onclick="return function()">Delete</a>
                    <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>*@
}

