
@model ProductModel
@{
    ViewData["Title"] = "Index";
}


<!-- Content Body Start -->
<div class="content-body" style="overflow-x:hidden;">

    <!-- Page Headings Start -->
    <div class="row justify-content-between align-items-center mb-10">
        
        <!-- Page Heading Start -->
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <div class="box-head">
                    <a asp-action="Create" class="button button-outline button-primary"><span>Create</span></a>
                </div>
                <h3 class="mt-5" class="title">Table <span>Products</span></h3>
            </div>
        </div><!-- Page Heading End -->

    </div><!-- Page Headings End -->

    <div class="row">

        <!--Default Data Table Start-->
        <div class="col-12 mb-30">
            <div class="box"  style="overflow-x:scroll;">
                <div class="box-head">
                    <h3 class="title">Default Table</h3>
                </div>
                <div class="box-body" style="width:1415px;">

                    <table class="table table-bordered data-table data-table-default"  >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Details</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Count</th>
                                <th style="display:block !important;">Create Date</th>
                                <th style="display:block !important;"></th>

                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int count = 1;
                            }
                            @foreach (var product in Model.Products)
                            {

                                <tr>
                                    <th>@count</th>
                                    <td>
                                        <img src="~/img/@Model.ProductImages.Where(i=>i.ProductId==product.Id).FirstOrDefault()?.ImageUrl" style="width:30px; height:30px;"/>
                                    </td>
                                    <td>@product.Name</td>
                                    <td>
                                        @if (product.Details.Length > 50)
                                        {
                                            @Html.Raw(product.Details.Substring(0, 30) + "...")
                                        }
                                        else
                                        {
                                            @Html.Raw(product.Details)
                                        }
                                    </td>
                                    <td>@product.Price</td>

                                    <td>@product.Discount</td>
                                    <td>@product.Count</td>
                                    <td style="display:block !important;">@product.CreateDate</td>
                                    <td style="display:block !important;">
                                        <a asp-action="Detail" asp-route-id="@product.Id" class="button button-outline button-success"><span class="fa fa-info"></span></a>
                                        <a asp-action="Update" asp-route-id="@product.Id" class="button button-outline button-warning"><span class="fa fa-edit"></span></a>
                                        <a asp-action="Delete" asp-route-id="@product.Id" class="button button-outline button-danger"><span class="fa fa-trash"></span></a>
                                    </td>

                                </tr>
                                count++;
                            }


                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <!--Default Data Table End-->
      
     

    </div>

</div><!-- Content Body End -->