@model SWCars.Models.DataModels.LoginViewModel

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Login</h2>

<div class="row">
    <div class="col-md-10">
        <section id="loginForm">

            @{
                if (ViewBag.LoginMessage != null)
                {
                    <p class="text-primary">@ViewBag.LoginMessage</p>
                }
            }
            
            @using (Html.BeginForm("Login", "Account", new { ReturnUrlPost = ViewBag.ReturnUrlGet }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                
                
                <div class="form-group">
                    @Html.LabelFor(m =>m.UserName, new { @class = "col-md-2 control-label font-family" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control font-family" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label font-family" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control font-family" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default font-family" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register", null, new { @class = "font-family" })
                </p>

            }
        </section>
    </div>
</div>